@using Microsoft.AspNetCore.Identity
@using Insightly_project.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto align-items-lg-center">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item d-none d-lg-block">
            <span class="nav-link">Hello, @User.Identity.Name!</span>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Projects" asp-action="Index"><i class="bi bi-diagram-3"></i> Manage Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="TaskItems" asp-action="Index"><i class="bi bi-list-check"></i> Manage Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="Users"><i class="bi bi-people"></i> Users</a>
            </li>
        }
        else if (User.IsInRole("TeamMember"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="TaskItems" asp-action="Index"><i class="bi bi-person-workspace"></i> My Tasks</a>
            </li>
        }
        else if (User.IsInRole("Client"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Projects" asp-action="Index"><i class="bi bi-folder2-open"></i> My Projects</a>
            </li>
        }

        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="form-inline">
                <button type="submit" class="nav-link btn btn-link px-0"><i class="bi bi-box-arrow-right"></i> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-plus"></i> Register</a>
        </li>
    }
</ul>
